.container{
    gap: 10px;
}

.main {
    height: 600px;
    margin-top: 10px; 
}

.first-container {
    flex-basis: 80%; 
    flex-direction: column;
}

.mid-container {
    height: 50%; 
    gap: 10px; 
    padding-bottom: 10px;
}
.flex {
    display: flex;
}

.height-80 {
    height: 80px;
}

.box-green {
    background-color: rgb(36, 192, 101); 
    flex-basis: 20%;
}

.box-gray {
    background-color: gray; 
    flex-basis: 80%;
}

.box-beige {
    background-color: beige; 
    border: 3px solid black; 
    margin-top: 10px;
}

.box-blue {
    background-color: rgb(39, 105, 226);
    height: 100%; 
    flex-basis: 50%;
}
.box-violet {
    background-color: rgb(161, 7, 161); 
    height: 100%; 
    flex-basis: 20%; 
    margin-right: 10px;
}



.box-pink {
    background-color: rgb(226, 75, 168); 
    height: 100%; 
    flex-basis: 50%;
}

.box-yellow {
    background-color: rgb(244, 217, 9); 
    height: 50%;
}

.box-aqua {
    background-color: rgb(65, 234, 234); 
    border: 3px dashed black; 
    height: 80px; 
    margin-top: 10px;
}